/*IMPORT SECTION */

/*Font has been imported from Google Fonts. Source: [https://fonts.google.com/specimen/Montserrat?category=Sans+Serif,Display#standard-styles]*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&family=Roboto&family=Rock+Salt&display=swap');


/*SITE SETTINGS*/

/*
Reference Material: [codeSTACKr] 
*/

* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
}


/*BODY*/

/*CONTAINERS*/

/*
Reference Material: 
YouTubers - [codeSTACKr, A. Delise, Florin Pop] 
*/

.main-cont {
	display: grid;
	height:  auto;
	grid-gap: 1rem;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
	grid-template-areas:
	"nav nav nav"
	"main main main"
	"box1 box2 box3"
	"footer footer footer";
}  

body {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Roboto', sans-serif;
	color: rgba(93, 93, 93);
	height: 100vh;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif; 
	padding: 10px;
}

a {
	text-decoration: none;
	color: rgb(90, 87, 87, .8);
}

nav {
	grid-area: nav; 
	/* background-color: rgb(64, 224, 208, 0.7); */
	/* grid-column: 1/4;  */
	box-shadow: 0 2px 2px 0 rgb(128, 128, 128, .5);
	background-color: rgb(240, 98, 32);
	display: flex;
	flex-wrap: wrap;/*impacts the nave bar, do not remove*/
}

#bamisoro-logo {
	width: 200px;
	height: 200px;
}

#bamisoro-logo:hover {
	width: 250px;
	height: 250px;
}

main {
	grid-area: main; 
	/* background-color: rgb(64, 224, 208); */
	/* grid-column: 1/4;  */
	padding: 10px;
}

.box1 {
	grid-area: box1; 
	/* background-color: rgb(64, 224, 208, .3); */
	padding: 10px;
	position: relative; /*this affects the buttons' position on the quiz page*/
} 

.box2 {
	grid-area: box2; 
	/* background-color: rgb(64, 224, 208, .5); */
	padding: 10px;	
	position: relative; /*this affects the buttons' position on the quiz page*/
} 

.box3 {
	grid-area: box3; 
	/* background-color: rgb(64, 224, 208, .7); */
	padding: 10px;
	position: relative; /*this affects the buttons' position on the quiz page*/
} 

footer {
	grid-area: footer;
	/* background-color: rgb(173, 255, 47, .5); */
	/* grid-column: 1/4;  */
	padding: 10px;
	margin-top: 20px;
	background-color: rgb(240, 98, 32);
}

.footer-links {
	float: right;
	font-size: 50px;
	padding: 10px;
}

.footer-links > a {
	position: relative;
	top: -40px;
	font-size: 30px;
	padding: 10px;
	color: rgb(255, 255, 255);
}

.footer-links > a:hover {
	text-shadow: 4px 4px 4px rgb(93, 93, 93, .5);
	font-size: 50px;
}

.logo-footer {
	width: 150px;
	height: 150px;
}

/*ENTER SITE PAGE*/

/* Reference Material: 
Box Shadow - [https://www.w3schools.com/css/css3_shadows.asp]
Center object in div - [https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/]
*/

#enter-bamisoro-logo {
	margin: 10px;
	width: 50%;
	height: 50%;
	margin-right:auto;
	margin-left: auto;
	display: block;	
}

#enter-bamisoro-logo:hover {
	width: 60%;
	height: 60%;
}

.enter-main {
	background-color: rgb(240, 98, 32);
	height: 100vh;	
}

#enter-site-space {
	position: relative;
	display: block;
	background-color: rgb(240, 98, 32);
}

.enter-site-btn {
	width: 270px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	font-weight: 700;
	background-color: rgb(255, 255, 255);
	border: 4px solid black;
	border-radius: 70px; 
	position: absolute; /*this property is dependant on position value of parent element see above*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	margin-top: 30px;
}

.enter-site-btn:hover {
	box-shadow: 5px 5px 5px rgb(90, 87, 87, .5);
	border: none;
}

.enter-site-btn > a:hover {
	color: rgb(239, 130, 62);
}

/*MENU*/
.nav-MU {
	padding: 0 60px;
}

.nav-MU > li {
	display: table-cell;
	float: left;
	font-size: 25px;
	padding: 20px;
	line-height: 200px;
}

.nav-MU, li > a {
	color:  rgb(255, 255, 255);
}

.nav-MU > li:hover {
	font-size: 30px;
	color:  rgb(255, 255, 255);
	text-decoration: solid underline;
}

.ham {
	background-color: transparent;
	color: rgb(255, 255, 255);
	font-size: 30px;
	border: 0;
	cursor: pointer;
	display: none; /*ensures hamburger icon does not appear on screens > 768px*/
}

/*QUIZ HOMEPAGE*/

section {
	margin: 20px;
	padding: 20px;
	text-align: center;
	display: block;
	border-radius: 20px;
	
	/* color: rgb(239, 130, 62); */
	background-color: rgb(93, 93, 93, .05);
}

section:hover{
	box-shadow: 3.5px 3.5px 3.5px rgb(90, 87, 87, .5);
}

#what-we-offer > h1 {
	color: rgb(239, 130, 62);
}

#what-we-offer > p {
	margin-top: 20px;
}

#what-we-offer > h3 {
	margin-top: 5px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: 1px;
	display: inline-block;
	position: relative;
	top: -10px;
}

#what-we-offer > a {
	display: inline-block;
	font-size: 50px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	color: rgb(239, 130, 62);
} 

#what-we-offer > a:hover {
	text-shadow: 5px 5px 5px rgb(90, 87, 87, .5);
	font-size: 60px;
} 

.quiz-lp > h1 {
	color: rgb(239, 130, 62);
}

#box1-color {
	background-color: rgb(239, 130, 62, .2);
	border-radius: 15px;
}

#box2-color {
	background-color: rgb(239, 130, 62, .5);
	border-radius: 15px;
}

#box3-color {
	background-color: rgb(239, 130, 62, .9);
	border-radius: 15px;
}

.quiz-button {
	width: 270px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	font-weight: 700;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 70px; 
	padding: 5px;
	position: absolute; /*this property is dependant on position value of parent element see above*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.quiz-button:hover {
	box-shadow: 5px 5px 5px rgb(90, 87, 87, .5);
}

.quiz-button > a:hover {
	color: rgb(239, 130, 62);
}

/*BEGGINER QUIZ PAGE*/


/*INTERMEDIATE QUIZ PAGE*/


/*ADVANCED QUIZ PAGE*/


/*PHRASESHEET PAGE*/
#phrasesheet-descript {
	box-shadow: 3.5px 3.5px 3.5px rgb(90, 87, 87, .5);
	background-color: rgb(93, 93, 93, .05);
	padding: 20px;
}

#phrasesheet-descript > h1 {
	color: rgb(239, 130, 62);
}

.phrase-box {
	/* background-color: rgb(221, 160, 221, .5); */
	/* border: 1px solid red;  */
	padding: 10px;
	border-radius: 10px;
	text-align: left;
	background-color: rgb(93, 93, 93, .05);
	box-shadow: 3.5px 3.5px 3.5px rgb(90, 87, 87, .5);
}

.phrase-box > h2 {
	color: rgb(239, 130, 62);
}

th {
	padding: 10px 10px;
	text-decoration: underline;
	font-weight: 700;
	color: rgb(239, 130, 62);
}

td {
	padding: 10px 10px;
}

tr {
	margin-top: 50px;
	padding: 10px 10px;
}

.download-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 200px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(239, 130, 62);
	border-radius: 70px; 
	padding: 5px;
	
}

.download-btn:hover {
	box-shadow: 5px 5px 5px rgb(90, 87, 87, .5);
	border: none;
}

.download-btn > a:hover {
	color: rgb(239, 130, 62);
}
 
/*CONTACT US PAGE*/

/*This centers the whole form*/
.form-center {
	display: block;
	text-align: center;
}	

form > img {
 	width: 300px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
}

form {
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(93, 93, 93, .05);
	font-weight: 500;
	display: inline-block;
	margin-top: 50px;
}

form:hover {
		box-shadow: 9px 9px 9px rgba(240, 98, 32, .3);
}

form > input {
	padding: 20px;
	width: 200px;
	height: 25px;
	font-size: 20px;
	margin-bottom: 30px;
	border-radius: 20px; 
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
	text-align: left;
	border: 2px solid rgba(240, 98, 32, .7);
}

form > textarea {
	padding: 20px;
	width: 100%;
	height: minmax(200px, auto);
	font-size: 16px;
	margin-right: 20px;
	margin-bottom: 30px; 
	border-radius: 20px; 
	text-align: center;
	border: 2px solid rgba(240, 98, 32, .7);
}

form > i {
	font-size: 30px;
	padding: 0 20px 0 20px;
	margin-bottom: 30px;
	color: rgba(240, 98, 32, .8);
}

.submit-button {
	margin-bottom: 30px;
	margin-top: 30px;
	border: 2px solid  rgb(240, 98, 32, .7);
	background-color: rgb(255, 255, 255);
	border-radius: 30px;
	padding: 20px;
	width: 200px;
}

form > i:hover {
	text-shadow: 4px 4px 4px rgb(93, 93, 93, .7);
	font-size: 50px;
}

form > input:hover {
	color: rgb(240, 98, 32, .7);
}

.submit-button:hover {
	box-shadow: 4px 4px 4px rgb(90, 87, 87, .5);
	background-color: rgb(255, 255, 255);
	color:rgb(240, 98, 32, .7);
	border: none;
}

/*MEDIA QUERIES*/


@media only screen and (max-width: 320px) {
	.main-cont {
		display: grid;
		height: auto; /*auto makes the content adjust to viewport so elements dont overlap*/
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"nav"
		"main"
		"box1" 
		"box2" 
		"box3"
		"footer";
	}  
	
	.nav-MU {
		display: none;
		width: 100%;
		flex-direction: column;
	}

	.nav-MU > li {
		line-height: 20px;
		padding-bottom: 50px;
	}

	.nav-MU.show {
		display: flex;
	}
	
	.ham {
		display: block;
		margin-left: auto;
		margin-right: 30px;
		font-size: 40px;
	}

	.ham:hover {
		font-size: 60px;
	}

	#enter-bamisoro-logo {
		width: 40%;
		height: 40%;
	}

	#enter-bamisoro-logo:hover {
		width: 45%;
		height: 45%;
	
	}

	#what-we-offer > a {
		display: block;
		font-size: 50px;
		padding: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: auto;
		margin-left: auto;
	} 	

	#what-we-offer > h3 {
		margin-top: 5px;
		margin-bottom: 5px;
	} 

	form > span {
		margin-bottom: 30px;
		font-weight: 400;
		display: block;
	}
	
	.footer-links > a {
		position: relative;
		top: -15px;
		font-size: 20px;
		padding: 10px;
		margin-right: 10px
	}
	
	.logo-footer {
		width: 55px;
		height: 55px;
		margin-right: 40px;
	}

	#box1-color {
		margin-bottom: 50px;
	}
	
	#box2-color {
		margin-bottom: 50px;
	}
	
	#box3-color {
		margin-bottom: 50px;
	}
}


@media screen and (max-width: 768px) and (min-width: 321px) {
	.main-cont {
		display: grid;
		height: auto; /*auto makes the content adjust to viewport so elements dont overlap*/
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"nav"
		"main"
		"box1" 
		"box2" 
		"box3"
		"footer";
	}  
	
	.nav-MU {
		display: none;
		width: 100%;
		flex-direction: column;
	}

	.nav-MU > li {
		line-height: 20px;
		padding-bottom: 50px;
	}

	.nav-MU.show {
		display: flex;
	}
	
	.ham {
		display: block;
		/* float: right; */
		margin-left: auto;
		margin-right: 60px;
		font-size: 40px;
	}

	.ham:hover {
		font-size: 60px;
	}

	#enter-bamisoro-logo {
		width: 40%;
		height: 40%;
	}

	#enter-bamisoro-logo:hover {
		width: 45%;
		height: 45%;
	}

	#what-we-offer > a {
		display: block;
		font-size: 50px;
		padding: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: auto;
		margin-left: auto;
	} 	

	#what-we-offer > h3 {
		margin-top: 5px;
		margin-bottom: 5px;
	} 

	form > span {
		margin-bottom: 30px;
		font-weight: 400;
		display: block;
	}
	
	.footer-links > a {
		position: relative;
		top: -15px;
		font-size: 20px;
		padding: 10px;
		margin-right: 10px
	}
	
	.logo-footer {
		width: 55px;
		height: 55px;
		margin-right: 40px;
	}

	#box1-color {
		margin-bottom: 50px;
	}
	
	#box2-color {
		margin-bottom: 50px;
	}
	
	#box3-color {
		margin-bottom: 50px;
	}
}








	












