/*IMPORT SECTION */

/*Font has been imported from Google Fonts. Source: [https://fonts.google.com/specimen/Montserrat?category=Sans+Serif,Display#standard-styles]*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&family=Roboto&family=Rock+Salt&display=swap');


/*SITE SETTINGS*/

/*
Reference Material: [codeSTACKr] 
*/

* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
}


/*BODY*/

/*CONTAINERS*/

/*
Reference Material: [codeSTACKr, A. Delise] 
*/

/* .entersite-cont {
	height: 100vh; 
	display: grid;
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 3fr 2fr 0.5fr;
	grid-template-areas: 
	"nav nav nav"
	"main main main"
	"box1 box2 box3"
	"footer footer footer";
}  */


.main-cont {
	height: 100vh; 
	/* border: 5px orange solid; */
	display: grid;
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 3.5fr 2fr 0.5fr;
	grid-template-areas: 
	"nav nav nav"
	"main main main"
	"box1 box2 box3"
	"footer footer footer";
}  

.factpage-cont {
	height: 100vh;
	/* border: 5px orange solid; */
	display: grid;
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 3.5fr 0.5fr;
	grid-template-areas: 
	"nav nav nav"
	"box1 box2 box3"
	"footer footer footer";
}

/* .contact-cont {
	height: 100vh; 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 2fr 0.5fr;
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
}  */

body {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Roboto', sans-serif;	
}

a {
	text-decoration: none;
	color: rgb(90, 87, 87, .8);
}

nav {
	grid-area: nav; 
	background-color: rgb(255, 255, 255);
	grid-column: 1/4; /*start val/end val*/
	box-shadow: 0 2px 2px 0 rgb(128, 128, 128, .5);
	padding: 10px;
}

main {
	grid-area: main; 
	background-color: rgb(64, 224, 208);
	grid-column: 1/4; /*start val/end val*/
	padding: 10px;
}

.box1 {
	grid-area: box1; 
	background-color: rgb(64, 224, 208, .3);
	padding: 10px;
	position: relative;
} 

.box2 {
	grid-area: box2; 
	background-color: rgb(64, 224, 208, .5);
	padding: 10px;
	position: relative;
} 

.box3 {
	grid-area: box3; 
	background-color: rgb(64, 224, 208, .7);
	padding: 10px;
	position: relative;
} 

footer {
	grid-area: footer;
	background-color: rgb(173, 255, 47, .5);
	grid-column: 1/4; /*start val/end val*/
	padding: 10px;
}


/*ENTER SITE PAGE*/

/* Reference Material: 
Box Shadow - [https://www.w3schools.com/css/css3_shadows.asp]
Center object in div - [https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/]
*/

/* .entersite-logo {

	grid-column: 2 / 3; 
	grid-row: 1 / 4;

	width: auto;
	height: 85%;
	display: block;
	padding: 30px;
 } */






/*QUIZ HOMEPAGE*/

.quiz-button {
	width: 300px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 70px; 
	padding: 5px;
	position: absolute; /*this property is dependant on position value of parent element see above*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* background-color: green;	 */
}

.quiz-button:hover {
	box-shadow: 4px 4px 4px rgb(90, 87, 87, .7);
}

.quiz-button > a:hover {
	color: rgb(239, 130, 62);
}

/*BEGGINER QUIZ PAGE*/


/*INTERMEDIATE QUIZ PAGE*/


/*ADVANCED QUIZ PAGE*/


/*FACTSHEET PAGE*/

.facts-box {
	background-color: rgb(221, 160, 221, .5);
	border: 1px solid red; 
	width: 100%;
}

 


/*
CONTACT US PAGE
*/



/*
MEDIA QUERIES
*/
/*ISSUE with 320px settings*/


@media only screen and (max-width: 320px) {
	.main-cont {
		height: 50vh; 
		/* border: 5px orange solid; */
		grid-gap: 10px;
		grid-template-columns: .5fr;
		grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
		grid-template-areas: 
		"nav"
		"main"
		"box1" 
		"box2" 
		"box3"
		"footer"
	}  
	
}

@media only screen and (max-width: 768px) {

	.main-cont {
		height: 100vh; 
		/* border: 5px orange solid; */
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2.5fr 1fr 1fr 1fr 0.5fr;
		grid-column: 1/2;
		grid-template-areas: 
		"nav"
		"main"
		"box1" 
		"box2" 
		"box3"
		"footer"
	}  

	.factpage-cont {
		height: 100vh;
		/* border: 5px orange solid; */
		/* display: grid;
		justify-content: center;
		align-content: center; */
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
		grid-template-areas: 
		"nav"
		"box1" 
		"box2" 
		"box3"
		"footer";
	}
	
}


	












